<%= form_with(model: lead, local: true) do |form| %>
    <% if lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
  
        <ul>
          <% lead.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :email %><br>
      <%= form.email_field :email %>
    </div>
  
    <div>
      <%= form.label :phone %><br>
      <%= form.telephone_field :phone %>
    </div>
  
    <div>
      <%= form.label :status %><br>
      <%= form.text_area :status %>
    </div>

    <div>
        <%= form.label :source %><br>
        <%= form.text_area :source %>
    </div>

    <div>
        <%= form.label :notes %><br>
        <%= form.text_area :notes %>
    </div>

  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  